* {
	-fx-back1: #FFFFFF;
	-fx-back2: #F0F0F0;
	-fx-back3: #E6EBF0;
	-fx-font1: #000000;
	-fx-font2: #606366;
}

// Background color of the whole context menu
.choice-box .context-menu { -fx-background-color: -fx-back1; }
// Text color of the selected context menu
.choice-box .label { -fx-text-fill: -fx-font1; }
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: -fx-back2; }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: -fx-font1; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: -fx-font1; }

.choice-box {
	-fx-background-color: -fx-back1;
	-fx-mark-color: -fx-font1;
}

/*** MENUBAR we also attach all the menu items to this style ***/
.menu-bar {
    -fx-background-color: -fx-back1;
    -fx-mark-color: -fx-font1;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-back1;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-font1;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-back2;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-font2;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-back1;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-font1;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-back2;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-font1;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-back1;
}

#custom-button {
    -fx-background-color: -fx-back1;
    -fx-text-fill: -fx-font1;
}